<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Feed</title>
    <link rel="stylesheet" href="../style/newsfeed.css">
</head>
<body>
    <h1>News Feed</h1>
    <input type="text" id="title" placeholder="Title" style="width: 100%; margin-bottom: 5px; height: 30px;border: black solid 2px;">
    <textarea id="content" placeholder="Content" style="width: 100%; margin-bottom: 5px; height: 30px;border: black solid 2px;"></textarea>
    <button onclick="addArticle()">Add Article</button>
    <div id="news-feed"></div>

    <div id="modal" class="modal">
        <div class="modal-content" id="modal-content"></div>
        <button class="close-btn" onclick="closeModal()">Close</button>
    </div>

    
    <script src="../js/newsfeed.js"></script>
</body>
</html>
